{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Info</title>
</head>
<body background="{%static 'images/djlogo.jpg' %}">
    <h2>Hi {{username}}</h2>
    <table border="1">
        <tr>
            ><thead>
                <th>User Name</th>
                <th>Roll No</th>
                <th>Email Id</th>
            </thead>
        </tr>
        <tr>
            <tbody>
                <td>{{username}}</td>
                <td>{{rno}}</td>
                <td>{{emailID}}</td>
            </tbody>
        </tr>
    </table>
</body>
</html>